.product {
    width: 100%;
    /* Make the width responsive */
    max-width: 300px;
    /* Set a maximum width */
    position: relative;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 auto;
    /* Center the product on the page */

}

.product img {
    width: 286px;
    /* height: 286px; */
    height: auto;
    flex-shrink: 0;
    margin: 7px;
    border-radius: 8px;
}

.product-name {
    margin-top: 0;
    margin-bottom: 0;
    color: #0E161A;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.product-info {
    margin-left: 14px;
}

.product-price {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;
}

.product-info p {
    color: #2A414F;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;
}

.cart-btn {
    color: #0E161A;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FFE0B3;
    position: absolute;
    bottom: 0;
    text-transform: capitalize;
    padding: 12px;
}

.cart-btn:hover {
    background-color: gold;
}